{% extends "master.html" %}

{% block content %}
    <h1>Queue Running Man Episodes</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.episode.label }}<br>
            {{ form.episode }}
            {% for error in form.episode.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.link.label }}<br>
            {{ form.link(size=64) }}
            {% for error in form.link.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}